@charset "UTF-8";
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Thin.woff) format("woff"), url(../fonts/Poppins-Thin.woff2) format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-ExtraLight.woff) format("woff"), url(../fonts/Poppins-ExtraLight.woff2) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Light.woff) format("woff"), url(../fonts/Poppins-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.woff) format("woff"), url(../fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-SemiBold.woff) format("woff"), url(../fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Bold.woff) format("woff"), url(../fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-ExtraBold.woff) format("woff"), url(../fonts/Poppins-ExtraBold.woff2) format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Black.woff) format("woff"), url(../fonts/Poppins-Black.woff2) format("woff2");
  font-weight: 900;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #1D1D1D;
  flex-direction: column;
}

body > .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0;
  font-family: "poppins";
  background-color: #1D1D1D;
  flex-direction: column;
}

.hero {
  padding: 0 63px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #161616;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #e57399;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

.btn {
  padding: 14px 48px;
  background-color: #C75E90;
  border-radius: 220px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.btn:hover {
  background-color: #d45980;
}

.rooms {
  display: flex;
  justify-content: center;
  gap: 97px;
  margin-top: 100px;
}
.rooms aside:nth-child(2) h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 4px;
  color: #696969;
}
.rooms aside:nth-child(2) h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #FFFFFF;
  margin-top: 30px;
}
.rooms aside:nth-child(2) ul {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 35px;
}
.rooms aside:nth-child(2) ul li {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: first baseline;
  color: #FFFFFF;
}
.rooms aside:nth-child(2) ul li .line {
  width: 80%;
  height: 1px;
  background-color: #696969;
  margin-left: 10%;
}
.rooms aside:nth-child(2) ul li div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rooms aside:nth-child(2) ul li .circ {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C75E90;
  border-radius: 50%;
  position: relative;
}
.rooms aside:nth-child(2) ul li:nth-child(1) {
  align-items: first baseline;
}

.celebrate {
  margin-top: 50px;
  color: white;
}
.celebrate .celebrate__useless-p {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.36em;
  color: rgb(105, 105, 105);
}
.celebrate .celebrate__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin: 20px 0px;
}
.celebrate .center__celebrate-div {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.celebrate .center__celebrate-div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.celebrate .celebrate__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.celebrate .first__celebrate {
  width: 33%;
  padding: 50px;
  background-color: rgb(22, 22, 22);
  border-radius: 20px;
  margin-top: 60px;
}
.celebrate .first__celebrate .celebrate__card-text {
  margin: 30px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.celebrate .first__celebrate .celebrate__card-wrapper {
  display: flex;
  gap: 13px;
}
.celebrate .first__celebrate .second__user-name {
  margin-top: 20px;
}

.black__nain {
  width: 100%;
  height: 64px;
  background-color: #161616;
}

.hero {
  background-color: #161616;
  position: relative;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 150px;
}
.hero .container aside:nth-child(1) {
  width: 630px;
}
.hero .container aside:nth-child(1) .hero__box {
  width: 337px;
  height: 122px;
  padding: 23px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 0;
  flex-direction: column;
  background: url(../../picture/box\ cat\ img.png);
  border-radius: 15px;
  position: relative;
  margin-top: 93px;
}
.hero .container aside:nth-child(1) .hero__box p {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 3.6px;
  color: #FFFFFF;
}
.hero .container aside:nth-child(1) .hero__box h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}
.hero .container aside:nth-child(1) .hero__box div {
  width: 43px;
  height: 43px;
  position: absolute;
  top: calc(50% - 21.5px);
  right: -21.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C75E90;
  border-radius: 50%;
}
.hero .container aside:nth-child(1) .hero__box div i {
  font-size: 25px;
  color: #FFFFFF;
}
.hero .container aside:nth-child(1) .hero__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 40px;
  flex-direction: column;
}
.hero .container aside:nth-child(1) .hero__item button {
  padding: 14px 48px;
  background-color: #C75E90;
  border-radius: 220px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.hero .container aside:nth-child(1) .hero__item div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 28px;
  flex-direction: column;
}
.hero .container aside:nth-child(1) .hero__item div h3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3.6px;
  line-height: 21px;
  color: #696969;
}
.hero .container aside:nth-child(1) .hero__item div h1 {
  font-size: 46px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 69px;
}
.hero .container aside:nth-child(1) .hero__item div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}
.hero .container aside:nth-child(2) {
  width: 650px;
  height: 594px;
}
.hero .container aside:nth-child(2) .hero__pic {
  background: url(../../picture/Vector.png), url(../../picture/Vector.png);
  background-position: calc(0% - 144px) calc(0% - 144px), calc(100% + 144px) calc(100% + 144px);
  background-size: 288px;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
.hero .container aside:nth-child(2) .hero__pic .one {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  border: 5px solid #C75E90;
  background: url(../../picture/1\ cat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 80px;
  left: calc(0% - 65.5px);
}
.hero .container aside:nth-child(2) .hero__pic .two {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  border: 5px solid #C75E90;
  background: url(../../picture/2\ cat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 320px;
  left: calc(0% - 65.5px);
}
.hero .container aside:nth-child(2) .hero__pic .three {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  border: 5px solid #C75E90;
  background: url(../../picture/3\ cat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: calc(0% - 22.75px);
  left: 80px;
}
.hero .container aside:nth-child(2) .hero__pic .four {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  border: 5px solid #C75E90;
  background: url(../../picture/4\ cat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: calc(0% - 22.75px);
  left: 280px;
}
.hero .container aside:nth-child(2) .hero__pic .main-pic {
  width: 565.14px;
  height: 557px;
  background: url(../../picture/Mask\ group.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero__about {
  position: relative;
  bottom: -84px;
  width: 100%;
  height: 168px;
  background-color: #C75E90;
  margin-top: 123px;
  border-radius: 40px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  padding-left: 23px;
}
.hero .hero__about .hero-about__one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 28px;
}
.hero .hero__about .hero-about__one div {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8E345F;
  font-size: 45px;
}
.hero .hero__about .hero-about__one span h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.hero .hero__about .color-changed {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 83px;
  padding: 73px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #8E345F;
}
.hero .hero__about .color-changed .hero-about__three {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #8E345F;
  height: 100%;
  gap: 29px;
}
.hero .hero__about .color-changed .hero-about__three div {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C75E90;
  font-size: 45px;
}
.hero .hero__about .color-changed .hero-about__three span h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.hero .hero__about .color-changed .hero-about__two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 28px;
  background-color: #8E345F;
  height: 100%;
  margin-left: 25px;
}
.hero .hero__about .color-changed .hero-about__two div {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C75E90;
  font-size: 45px;
}
.hero .hero__about .color-changed .hero-about__two span h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.cards {
  width: 100%;
  background-color: #161616;
  margin-top: 68px;
  border-radius: 40px;
  padding-right: 56px;
}
.cards .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  gap: 35px;
}
.cards .container .line {
  width: 1px;
  height: 361px;
  background-color: rgba(128, 128, 128, 0.1294117647);
}
.cards .container .main__card {
  width: 312px;
  height: 476px;
  background-color: #C75E90;
  border-radius: 40px;
  padding: 59px 37px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  flex-direction: column;
}
.cards .container .main__card h3 {
  margin-top: 19px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 3.6px;
  color: #161616;
}
.cards .container .main__card h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #FFFFFF;
}
.cards .container .main__card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}
.cards .container .main__card button {
  padding: 14px 48px;
  background-color: #8E345F;
  border-radius: 220px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  position: relative;
}
.cards .container .main__card button::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: 20px;
  background-image: url(../../picture/arrow-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cards .container .other-card {
  width: 300px;
  gap: 28px;
  display: flex;
  flex-direction: column;
}
.cards .container .other-card h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}
.cards .container .other-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.cards-bottom {
  margin-top: 65px;
}
.cards-bottom .bottom-cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.cards-bottom .bottom-cards div {
  position: relative;
}
.cards-bottom .bottom-cards div img {
  width: 225px;
  height: 233px;
}
.cards-bottom .bottom-cards div span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: calc(0% - 35px);
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #C75E90;
}
.cards-bottom .bottom-cards div span i {
  font-size: 35px;
  color: #FFFFFF;
}

.inputs {
  text-align: center;
  padding: 20px;
  margin-top: 90px;
  padding: 50px 200px;
  background: #161616;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 50px;
  border: 1px #FFFFFF solid;
}

h3 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3.6px;
  color: #696969;
}

::-moz-placeholder {
  color: #FFFFFF;
}

::placeholder {
  color: #FFFFFF;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #FFFFFF;
}

p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input input {
  width: 48%;
  padding: 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
}

.input input::-moz-placeholder {
  color: #aaa;
}

.input input::placeholder {
  color: #aaa;
}

.input.full-width {
  width: 100%;
}

.input.full-width input {
  width: 100%;
}

.input .icon {
  position: relative;
}

.input .icon input {
  padding-right: 40px;
}

.input .icon i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #e91e63;
}

.input .icon i:hover {
  cursor: pointer;
}

.input .icon i:active {
  transform: translateY(-50%) scale(0.95);
}

.input .arrow {
  position: relative;
}

.input .arrow input {
  padding-right: 40px;
}

.input .arrow i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.input .arrow i:hover {
  cursor: pointer;
}

.input .arrow i:active {
  transform: translateY(-50%) scale(0.95);
}

.btn {
  padding: 14px 48px;
  background-color: #C75E90;
  border-radius: 220px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  width: 20%;
  margin-left: 40%;
}

.nekolnn-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #161616;
  border-radius: 20px;
  color: #FFFFFF;
  margin-top: 134px;
}
.nekolnn-section .nekolnn-content {
  max-width: 50%;
}
.nekolnn-section .nekolnn-content h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #696969;
  font-weight: 700;
  letter-spacing: 3.6px;
}
.nekolnn-section .nekolnn-content h1 {
  font-size: 36px;
  margin: 1rem 0;
  font-weight: 700;
  color: #fff;
  line-height: 54px;
}
.nekolnn-section .nekolnn-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #cccccc;
}
.nekolnn-section .nekolnn-content .btn {
  margin-top: 55px;
  padding: 14px 48px;
  background-color: #C75E90;
  border-radius: 220px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.nekolnn-section .nekolnn-image {
  max-width: 40%;
}
.nekolnn-section .nekolnn-image img {
  width: 100%;
  border-radius: 10px;
}

.pricing-section {
  text-align: center;
  padding: 3rem;
  color: #fff;
  margin-top: 67px;
}
.pricing-section h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #696969;
  letter-spacing: 4px;
}
.pricing-section h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.pricing-section p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #cccccc;
}
.pricing-section .pricing-cards {
  display: flex;
  justify-content: center;
  height: 500px;
  border-radius: 5px;
  align-items: center;
  margin-top: 100px;
}
.pricing-section .pricing-cards .card:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #161616;
  height: 480px;
}
.pricing-section .pricing-cards .card:nth-child(3) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #161616;
  height: 480px;
}
.pricing-section .pricing-cards .featured {
  height: 577px;
  background-color: #C75E90;
}
.pricing-section .pricing-cards .featured ul {
  justify-content: space-evenly;
}
.pricing-section .pricing-cards .featured ul li {
  margin-top: 40px;
}
.pricing-section .pricing-cards .featured button {
  background-color: #8E345F;
  margin-top: 90px;
}
.pricing-section .pricing-cards .card {
  width: 444px;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border: none;
  position: relative;
}
.pricing-section .pricing-cards .card i {
  position: absolute;
  right: calc(0% + 40px);
  font-size: 50px;
}
.pricing-section .pricing-cards .card h2 {
  font-size: 1.5rem;
  color: #e57399;
  text-align: center;
}
.pricing-section .pricing-cards .card .price {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  align-items: last baseline;
}
.pricing-section .pricing-cards .card .price span {
  display: block;
  font-size: 0.8rem;
  color: #aaaaaa;
}
.pricing-section .pricing-cards .card ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pricing-section .pricing-cards .card ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 21px;
  margin: 0.5rem 0;
}
.pricing-section .pricing-cards .card ul li::before {
  content: "✔";
  color: #e57399;
}

.newsletter-section {
  text-align: center;
  padding: 2rem;
  background-color: #2c2c2c;
  border-radius: 20px;
  margin: 2rem auto;
  max-width: 1000px;
}
.newsletter-section .newsletter-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.newsletter-section .newsletter-header .icon-circle {
  width: 60px;
  height: 60px;
  background-color: #e57399;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-section .newsletter-header .icon-circle img {
  width: 40px;
}
.newsletter-section .newsletter-header p {
  font-size: 0.9rem;
  color: #aaaaaa;
}
.newsletter-section .newsletter-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */