.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: $bg-color;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #e57399;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

.btn {
  @include button();
}

.btn:hover {
  background-color: #d45980;
}
